{% extends "base.html" %}
{% load truncatehanzi %}

{% block content %}
<div class="row">
{% for r in objs %}
    <div class="channel">
        <h2>
            <a href="{{ r.site_url }}">{{ r.name }}</a>
            <a class='btn btn-mini' href="{% url feeds:detail r.pk %}">详情</a>
        </h2>
        <small>{{r.feed_updated|date:'m-d H:i:s'}}</small>
        <ul class="unstyled">
            {% for t in r.topic_set.all %}
            <li>
            <h4>
                <a target="_blank" href="{{ t.link }}" title="{{ t.title }} :: {{ t.descn|slice:":20" }}...<span>{{ t.date }} // {{ r.url }}</span>">{{ t.title|truncatehanzi:":20" }}</a>
            </h4>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
{% endblock %}
